@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
}
.drag-image{
    background-color: #6c8bbd;
    height: 300px;
    width: 350px;
    border-radius: 12px;
    font-weight:400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 195px;
    left: 550px;
}
.drag-image.active{
    border: 2px solid #fff;
}
.drag-image .icon{
    font-size: 30px;
    color: #fff;
}
.drag-image h6{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.drag-image span{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin: 10px 0 15px 0;
}
.drag-image button{
    padding: 10px 25px;
    font-size: 14px; 
    font-weight: 300;
    border: none;
    outline: none;
    background:transparent;
    color: #fff;
    border:1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.3s;
}

.drag-image button:hover{
    background-color:#fff;
    color:#6c8bbd;
}

.drag-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.navbar-nav.me-auto.mb-2.mb-lg-0 li a.nav-link{
    color: gray;
}
.navbar-nav.me-auto.mb-2.mb-lg-0 li a.nav-link:hover{
    color: black;
}
.navbar-nav.me-auto.mb-2.mb-lg-0 li a.nav-link.active{
    color: black;
}
.navbar-brand{
    color: black;
}
.navbar-brand:hover{
    color: black;
    transition:all 0.4s;
}
.container-fluid {        
    margin-right: auto;    
    margin-left: auto;    
    max-width: 100%;    
    min-width: 1440px;
}
.app-title{
    font-size: 20px;
    font-weight: 300;
    color: #4B4B4B;
    position: absolute;
    top: 110px;
    left: 510px;
}
.btn.btn-outline-success{
    position: absolute;
    top: 605px;
    left: 632px;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    color: #556D96;
    border:1px solid #6c8bbd;
    transition:all 0.3s;
}
.btn.btn-outline-success:hover{
    background-color:#6c8bbd;
    color:white;
    border:1px solid #6c8bbd;
}
.form-check1{
    position: absolute;
    top: 520px;
    left: 625px;
}
.form-check2{
    position: absolute;
    top: 550px;
    left: 625px;
}
.form-check-label{
    padding-left: 5px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    color: #555;
  }
  
.custom-file-upload input[type="file"] {
    display: none;
}

#filename {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}